* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10%;
    font-family: "Roboto", monospace;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background: #191919;
}

h2 {
    margin-bottom: 25px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.student-card {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    margin: 10px;
    padding: 20px;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}

.student-card:active {
    user-select: none;
}

input[type='checkbox'],
input[type='radio'] {
    margin-right: 10px;
}

.button-container {
    position: relative;
}

button {
    width: 250px;
    margin: 10px;
    padding: 20px;
    font-weight: 500;
    font-size: 1.1rem;
    color: #fff;
    background-color: #262626;
    border: none;
    border-radius: 10px;
    transition: .1s ease-in-out;
    cursor: pointer;
}

button:active {
    transform: scale(.92);
}

.reason {
    outline: none;
    width: 100%;
    margin-top: 20px;
    padding: 7%;
    color: #fff;
    background-color: #00000046;
    border: none;
    border-radius: 10px;
    cursor: text;
    font-size: .9rem;
}

.reason::placeholder {
    color: #ffffff98;
}

.hidden {
    display: none;
    gap: 10px;
    flex-direction: column;
}

.presets {
    border-radius: 10px;
    background-color: #00000057;
}

.preset {
    display: block;
    padding: 15px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    text-shadow: none;
}

.preset:not(:last-child) {
    border-bottom: 2px #0000002d solid;
}

.preset input[type="radio"]:checked {
    background-color: #191919;
}

#star {
    position: absolute;
    right: -20px;
    top: -20px;
}

#star.animate {
    display: block;
    animation: starAnimation 2.2s cubic-bezier(.23, 1, .32, 1);
    z-index: -1;
}

@keyframes starAnimation {
    0% {
        transform: scale(0) rotate(0deg);
    }

    100% {
        opacity: 0;
        transform: scale(.5) rotate(60deg);
        right: -60px;
        top: -40px;
    }
}

@media (min-width: 768px) {
    body {
        padding: 150px;
    }

    button {
        width: 400px;
    }

    .student-card {
        position: relative;
        width: 400px;
        font-size: 1.2rem;
    }

    .student-card::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(133, 133, 133, 0.144);
        pointer-events: none;
    }

    .reason {
        padding: 5%;
        font-size: 1rem;
        font-weight: bold;
    }

    .preset {
        font-size: 1rem;
    }
}